/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Big Shoulders Display */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #720110;
    background-image: url(/img/truck.svg);
    background-repeat: no-repeat;
    background-position: center 19.5vh;
    background-size: 90vw 90vh;
    margin-top: -16px;
    margin-inline: 0%;
    margin-bottom: 0%;
    max-width: 100%;
    overflow-x: hidden;
}

/* bigger screen */
@media only screen and (min-width: 1043px) {
    #navbar {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        height: 115px;
        width: 100%;
        vertical-align: middle;
        z-index: 1;
    }
    .flex-parent {
        display: flex;
    }
    #esmc-logo {
        margin-left: 20px;
    }
    #menu {
        background-color: #cdcdcd;
        width: 563px;
        height: 40px;
        border-radius: 5px;
        margin-top: 37.5px;
        margin-left: 14vw;
    }
    p {
        margin-left: 1px;
    }
    .topbar-links {
        font-family: "Poppins";
        color: #000000;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        margin-top: 9px;
        font-size: 16px;
        text-align: center;
        text-wrap: nowrap;
    }
    .topbar-menu {
        padding-inline: 10px;
    }
    #homepage {
        background-color: #acacac;
        border-radius: 5px;
        flex: 1 1 0px;
    }
    #homepage-link {
        text-decoration: none;
        color: #000000;
    }
    #homepage-link:visited {
        color: #000000;
    }
    #branches {
        flex: 1 1 0px;
    }
    #branches-link {
        text-decoration: none;
        color: #000000;
    }
    #branches-link:visited {
        color: #000000;
    }
    #search-page {
        flex: 1 1 0px;
    }
    #search-page-link {
        text-decoration: none;
        color: #000000;
    }
    #search-page-link:visited {
        color: #000000;
    }
    .contact-us-link {
        display: grid;
        border: solid;
        border-width: 1px;
        border-color: #0d0d0d;
        height: 50px;
        width: fit-content;
        border-radius: 5px;
        margin-top: 32.5px;
        margin-left: 14vw;
        padding-inline: 10px;
        text-align: center;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        color: #000000;
        font-family: "Poppins";
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        font-size: 16px;
        text-wrap: nowrap;
        place-content: center;
    }
    .contact-us-link:visited {
        text-decoration: none;
        color: #000000;
    }
    #small-nav {
        display: none;
    }
}

/* smaller screen */
@media only screen and (max-width: 1043px) {
    #navbar {
        display: none;
    }
    .flex-parent {
        display: flex;
    }
    #small-nav {
        overflow: hidden;
        position: relative;
    }
    #esmc-logo-small-nav {
        margin-top: 11px;
        margin-left: 20px;
    }
    #links {
        display: none;
        position: fixed;
        z-index: 2;
        width: 100%;
    }
    .small-nav-links {
        font-family: "Poppins";
        color: #000000;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        font-size: 16px;
        padding-left: 20px;
        text-decoration: none;
        display: block;
    }
    #home-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #acacac;
    }
    #branches-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #cdcdcd;
    }
    #search-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #cdcdcd;
    }
    #contact-small {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #ffffff;
    }
    a#hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 47px;
    }
    .active {
        background-color: #ffffff;
        height: 115px;
        width: 100%;
    }
}

footer {
    background-color: #58020e;
    text-align: center;
    width: 100%;
    padding: 5px;
}
#copyright {
    color: #ffffff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}

#h-section {
    text-align: center;
    color: #fffaeb;
    padding: 15vh 20px;
}

h1 {
    font-family: "Big Shoulders Display";
    font-size: 90px;
    font-weight: bolder;
    text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.34);
}

h2 {
    font-family: "Poppins";
    font-size: 45px;
    text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.34);
    text-align: right;
    font-style: italic;
}

/* About Us Section Styling */
#about-section {
    background-color: #fffaeb;
    padding: 50px 20px;
    text-align: center;
    margin-top: 7vh;
}

#about-us h1 {
    font-family: "Big Shoulders Display";
    font-size: 40px;
    font-weight: bolder;
    color: #000;
    text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.34);
    margin-left: 50px;
}

.carousel-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 5%;
}

.next, .prev {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    height: 30px;
    width: 30px;
    border: 1px solid;
    border-width: 2px;
    border-radius: 50%;
    margin: 2px;
}

.carousel-container {
    width: 80%;
    max-width: 800px;
    height: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    
    border: #720110 2px solid;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    line-height: 300px;
    color: #333;
    font-size: 18px;
    font-family: 'Arial';
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.next-item, .prev-item {
     opacity: 0.5;
}

.prev-item {
    background-image: url("/img/slides/slide1.jpg");
    background-size: cover;
}

.curr-item {
    background-image: url("/img/slides/slide2.jpg");
    background-size: cover;
}

.next-item {
    background-image: url("/img/slides/slide3.jpg");
    background-size: cover;
}

#description {
    margin-top: 10vh;
}

h3 {
    font-family: "Jost";
    font-size: 20px;
    color: #333;
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.about-text {
    font-family: "Jost";
    font-size: 20px;
    color: #333;
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1vh;
}

#outro {
    margin-top: 10vh;
}

#branch-btn {
    display: grid;
    place-content: center;
    font-family: "Big Shoulders Display";
    font-weight: bolder;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    border: solid 1px #000000;
    color: #000000;
    font-size: 24px;
    padding: 0;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: 50px;
    box-shadow: 5px 5px 0px 3px rgba(0,0,0,0.25);
    text-decoration: none;
}

#branch-btn:visited {
    text-decoration: none;
    color: #000000;
}
