/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Big Shoulders Display */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #720110;
    background-image: url(/img/truck.svg);
    background-repeat: no-repeat;
    background-position: center 20vh;
    background-size: auto 90vh;
    margin-top: -16px;
    margin-inline: 0%;
    margin-bottom: 0%;
    max-width: 100%;
    overflow-x: hidden;
}

/* bigger screen */
@media only screen and (min-width: 1043px) {
    #navbar {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        height: 115px;
        width: 100%;
        vertical-align: middle;
        z-index: 1;
    }
    .flex-parent {
        display: flex;
    }
    #esmc-logo {
        margin-left: 20px;
    }
    #menu {
        background-color: #cdcdcd;
        width: 563px;
        height: 40px;
        border-radius: 5px;
        margin-top: 37.5px;
        margin-left: 14vw;
    }
    p {
        margin-left: 1px;
    }
    .topbar-links {
        font-family: "Poppins";
        color: #000000;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        margin-top: 9px;
        font-size: 16px;
        text-align: center;
        text-wrap: nowrap;
    }
    .topbar-menu {
        padding-inline: 10px;
    }
    #homepage {
        flex: 1 1 0px;
    }
    #homepage-link {
        text-decoration: none;
        color: #000000;
    }
    #homepage-link:visited {
        color: #000000;
    }
    #branches {
        flex: 1 1 0px;
    }
    #branches-link {
        text-decoration: none;
        color: #000000;
    }
    #branches-link:visited {
        color: #000000;
    }
    #search-page {
        flex: 1 1 0px;
    }
    #search-page-link {
        text-decoration: none;
        color: #000000;
    }
    #search-page-link:visited {
        color: #000000;
    }
    .contact-us-link {
        display: grid;
        border: solid;
        border-width: 1px;
        border-color: #0d0d0d;
        background-color: #0d0d0d;
        height: 50px;
        width: fit-content;
        border-radius: 5px;
        margin-top: 32.5px;
        margin-left: 14vw;
        padding-inline: 10px;
        text-align: center;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        color: #000000;
        font-family: "Poppins";
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        font-size: 16px;
        text-wrap: nowrap;
        place-content: center;
    }
    .contact-us-link:visited {
        text-decoration: none;
        color: #fffaeb;
    }
    #small-nav {
        display: none;
    }
    #flex-contact {
        justify-content: space-around;
    }
}

/* smaller screen */
@media only screen and (max-width: 1043px) {
    #navbar {
        display: none;
    }
    .flex-parent {
        display: flex;
    }
    #small-nav {
        overflow: hidden;
        position: relative;
    }
    #esmc-logo-small-nav {
        margin-top: 11px;
        margin-left: 20px;
    }
    #links {
        display: none;
        position: fixed;
        z-index: 2;
        width: 100%;
    }
    .small-nav-links {
        font-family: "Poppins";
        color: #000000;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        font-size: 16px;
        padding-left: 20px;
        text-decoration: none;
        display: block;
    }
    #home-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #cdcdcd;
    }
    #branches-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #cdcdcd;
    }
    #search-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #cdcdcd;
    }
    #contact-small {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #0d0d0d;
        color: #fffaeb;
    }
    a#hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 47px;
    }
    .active {
        background-color: #ffffff;
        height: 115px;
        width: 100%;
    }
    #flex-contact {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}

h1 {
    font-family: "Big Shoulders Display";
    font-weight: bolder;
    font-size: 40px;
    color: #fffaeb;
    margin-left: 50px;
    margin-top: 50px;
}
h2 {
    font-family: "Jost";
    font-size: 20px;
    color: #fffaeb;
    margin-left: 50px;
    font-weight: normal;
}
.round-rec {
    border-style: solid; 
    border-radius: 35px;
    border-width: 5px;
    border-color: #fffaeb;
    margin: 1vh 1vw 1vh 1vw;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
h4 {
    font-family: "Jost";
    font-size: 20px;
    color: #fffaeb;
    margin-top: 0;
}
h6 {
    font-family: "Jost";
    font-weight: normal;
    color: #fffaeb;
    margin: 0;
    margin-left: 10px;
    margin-top: 1.5px;
    font-size: 15px;
}
.contact {
    justify-content: center;
}
.phone {
    width: 24px;
}
#fb-msg {
    height: 10vh;
    width: 100%;
    background-color: #fffaeb;
    margin-top: 10vh;
    padding-left: 3vw;
    margin-bottom: 0vh;
    padding-bottom: 1vh;
}
h5 {
    font-family: "Poppins";
    font-size: 20px;
    color: #371010;
    text-wrap: nowrap;
    margin-top: 3.5vh;
}
#fb-text {
    color: #ae161e;
}
a {
    text-decoration: none;
}
#facebook {
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.img-icon {
    width: 70px;
}
#fb-name {
    font-family: "Big Shoulders Display";
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 50px;
    text-wrap: nowrap;
}
footer {
    background-color: #58020e;
    text-align: center;
    width: 100%;
    padding: 5px;
}
#copyright {
    color: #ffffff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}
