/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Big Shoulders Display */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #FFFAEB;
    margin-top: -16px;
    margin-inline: 0%;
    margin-bottom: 0%;
    max-width: 100%;
    overflow-x: hidden;
}

.update-container{
    margin-left: 5%;
    color: #720110;
    width: 40%;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
}


li {
    position: relative;
    padding-top:0;
    margin: 0;
    padding-bottom: 1em;
    list-style: none;
    display:flex;
    flex-direction: row;
}


li > * {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

li p:not(#customBullet) {
    font-family: "Jost", sans-serif;
    margin: 0;
}

li h2 {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
}

#customBullet {
    font-size: 5rem;
    color:#720110;
}

.text-info{
    display: flex;
    flex-direction: column;
}


li:not(:last-child):before {
    background-color: #720110;
    width: .5em;
    height: 100%;
    position: absolute;
    content: '';
    top: 50px;
    bottom: 0px;
    left: 11px;
    padding:0;
    margin:0;
}

.textInfo {
    margin-left: 5%;
    padding-top: 3%
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 150px;
    margin-bottom: 2%;
}

.empty-progress {
    background-image: url("/img/details_bar.svg");
    background-size: contain,cover;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
}

.progress1 {
    background-image: url("/img/progress1.svg");
    background-size: contain,cover;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
}

.progress2 {
    background-image: url("/img/progress2.svg");
    background-size: contain,cover;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
}

.progress3 {
    background-image: url("/img/progress3.svg");
    background-size: contain,cover;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
}

.progress4 {
    background-image: url("/img/progress4.svg");
    background-size: contain,cover;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
}

.track-info {
    height: 350px;
    width: 500px;
    background-color: #720110;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    color: #FFFAEB;
    border-radius: 25px;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 20px;
    background-image: url("/img/truck.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.track-info p {
    font-family: "Jost", sans-serif;
}

.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 2% 0 2%;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 5%;
    align-items: center;
}


/* bigger screen */
@media only screen and (min-width: 1043px) {
    #navbar {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        height: 115px;
        width: 100%;
        vertical-align: middle;
        z-index: 1;
    }
    .flex-parent {
        display: flex;
    }
    #esmc-logo {
        margin-left: 20px;
    }
    #menu {
        background-color: #cdcdcd;
        width: 563px;
        height: 40px;
        border-radius: 5px;
        margin-top: 37.5px;
        margin-left: 14vw;
    }
    p {
        margin-left: 1px;
    }
    .topbar-links {
        font-family: "Poppins";
        color: #000000;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        margin-top: 9px;
        font-size: 16px;
        text-align: center;
        text-wrap: nowrap;
    }
    .topbar-menu {
        padding-inline: 10px;
    }
    #homepage {
        flex: 1 1 0px;
    }
    #homepage-link {
        text-decoration: none;
        color: #000000;
    }
    #homepage-link:visited {
        color: #000000;
    }
    #branches {
        flex: 1 1 0px;
    }
    #branches-link {
        text-decoration: none;
        color: #000000;
    }
    #branches-link:visited {
        color: #000000;
    }
    #search-page {
        background-color: #acacac;
        border-radius: 5px;
        flex: 1 1 0px;
    }
    #search-page-link {
        text-decoration: none;
        color: #000000;
    }
    #search-page-link:visited {
        color: #000000;
    }
    .contact-us-link {
        display: grid;
        border: solid;
        border-width: 1px;
        border-color: #0d0d0d;
        height: 50px;
        width: fit-content;
        border-radius: 5px;
        margin-top: 32.5px;
        margin-left: 14vw;
        padding-inline: 10px;
        text-align: center;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        color: #000000;
        font-family: "Poppins";
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        font-size: 16px;
        text-wrap: nowrap;
        place-content: center;
    }
    .contact-us-link:visited {
        text-decoration: none;
        color: #000000;
    }
    #small-nav {
        display: none;
    }
}

/* smaller screen */
@media only screen and (max-width: 1043px) {
    #navbar {
        display: none;
    }
    .flex-parent {
        display: flex;
    }
    #small-nav {
        overflow: hidden;
        position: relative;
    }
    #esmc-logo-small-nav {
        margin-top: 11px;
        margin-left: 20px;
    }
    #links {
        display: none;
        position: fixed;
        z-index: 2;
        width: 100%;
    }
    .small-nav-links {
        font-family: "Poppins";
        color: #000000;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
        font-size: 16px;
        padding-left: 20px;
        text-decoration: none;
        display: block;
    }
    #home-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #cdcdcd;
    }
    #branches-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #cdcdcd;
    }
    #search-small {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #acacac;
    }
    #contact-small {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #ffffff;
    }
    a#hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 47px;
    }
    .active {
        background-color: #ffffff;
        height: 115px;
        width: 100%;
    }
}
h1 {
    font-family: "Big Shoulders Display";
    font-weight: bolder;
    font-size: 48px;
    color: #fffaeb;
    margin-left: 50px;
    margin-top: 50px;
}
table {
    font-family: "Jost";
    font-size: 20px;
    border-collapse: collapse;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}
tr {
    border: 3px solid #720110;
}
th {
    padding: 15px;
}
td {
    padding: 15px;
    text-align: center;
}
#header {
    background-color: #fffaeb;
}
.details, .details:visited {
    color: #720110;
}
#button-link {
    display: block;
    position: relative;
    background-color: #fffaeb;
    border-radius: 5px;
    width: 152px;
    height: 50px;
    margin-top: 50vh;
    margin-left: auto;
    margin-right: 10vw;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
#button-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-family: 'Arial';
    color: #000000;
    font-size: 16px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
footer {
    background-color: #58020e;
    text-align: center;
    width: 100%;
    padding: 5px;
}
#copyright {
    color: #ffffff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}
