/* Big Shoulders Display */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #fc0404;
    background-image: url(/img/truck.svg);
    background-repeat: no-repeat;
    background-position: center 27.5vh;
    margin-top: -16px;
    margin-inline: 0%;
    margin-bottom: 0%;
    max-width: 100%;
    overflow-x: hidden;
}
#navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    height: 89px;
    width: 100%;
    vertical-align: middle;
    z-index: 1;
}
#dropdown {
    display: block;
    position: absolute;
    right: 20px;
    top: 35px;
}
.flex-parent {
    display: flex;
}
#esmc-logo {
    margin-left: 20px;
}
#profile {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
}
#profile-icon {
    position: absolute;
    top: 20px;
    right: 50px;
}
#links {
    display: none;
    position: absolute;
    top: 89px;
    z-index: 2;
    width: 100%;
}
.nav-links {
    font-family: "Poppins";
    color: #000000;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding-left: 20px;
    text-decoration: none;
    display: block;
}
#drop-view {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #acacac;
}
#drop-create {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cdcdcd;
}
#drop-logout {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
h1 {
    font-family: "Big Shoulders Display";
    font-weight: bolder;
    font-size: 48px;
    color: #fffaeb;
    margin-left: 50px;
    margin-top: 50px;
}
#main-body {
    margin-left: 7vw;
}
.flex-child {
    width: 50%;
}
label {
    color: #ffffff;
    font-size: 16px;
    font-family: "Jost";
    font-weight: bold;
}
.input-normal {
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 40vw;
    height: 30px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 1vw;
}
input::placeholder {
    font-family: "Poppins";
}
.number-code {
    display: grid;
    place-content: center;
    background-color: #ffffff;
    font-family: "Poppins";
    height: 30px;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid #000000;
    width: 3vw;
    margin-top: 1vh;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.phone-number {
    background-color: #ffffff;
    height: 30px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    margin-top: 1vh;
    padding: 0px;
    padding-left: 1vw;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 37vw;
}
h2 {
    color: #ffffff;
    font-size: 30px;
    font-family: "Jost";
    margin-top: 10vh;
    margin-bottom: 0px;
}
#items-div {
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item-container, .add-item-container {
    display: flex;
    flex-direction: row;
}
h3 {
    color: #ffffff;
    font-size: 16px;
    font-family: "Jost";
    display: block;
    text-align: center;
    margin-bottom: 0px;
}
.qty-input {
    background-color: #ffffff;
    border: none;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid #000000;
    width: 3vw;
    height: 24px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
}
.desc-input {
    background-color: #ffffff;
    border: none;
    border-right: 1px solid #000000;
    width: 29vw;
    height: 24px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
}
.cost-input {
    background-color: #ffffff;
    border: none;
    border-radius: 0px 4px 4px 0px;
    width: 3vw;
    height: 24px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
}
button {
    background-color: none;
}
#x-button-div {
    margin-left: 1vw;
}
.x-button {
    margin-top: 1vw;
    cursor: pointer;
}
#add-btn-div {
    text-align: right;
}
#add-btn {
    margin-right: 4.75vw;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    width: 120px;
    height: 40px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
    font-family: "Poppins";
    color: #ffffff;
    font-size: 16px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
#charge-discount-div {
    margin-top: 5vh;
}
#charge-label {
    text-align: left;
    margin: 0;
}
#charge-calc {
    display: block;
    background-color: #bdbaba;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 19vw;
    height: 28px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 1vw;
}
#discount-div {
    margin-left: 1vw;
}
#discount-input {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 19vw;
    height: 30px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 1vw;
}
#total-calc {
    display: block;
    background-color: #bdbaba;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 40.25vw;
    height: 28px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 1vw;
}
select {
    font-family: "Poppins";
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 41vw;
    height: 30px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 1vw;
}
input[type="date"] {
    font-family: "Poppins";
    background-color: #ffffff;
    width: 39vw;
    padding-right: 1vw;
}
#btns {
    display: flex;
    justify-content: right;
    margin-top: 15vh;
    margin-right: 4.75vw;
}
#cancel-btn {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    width: 100px;
    height: 50px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
    font-family: "Poppins";
    color: #ffffff;
    font-size: 16px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
#submit-btn {
    margin-left: 2vw;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    width: 140px;
    height: 50px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
    font-family: "Poppins";
    color: #ffffff;
    font-size: 16px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
footer {
    margin-top: 10vh;
    background-color: #58020e;
    text-align: center;
    width: 100%;
    padding: 5px;
}
#copyright {
    color: #ffffff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}
#order-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffaeb;
    height: 394px;
    width: 531px;
    border-radius: 20px;
    text-align: center;
    overflow-y: auto;
}
#error-title {
    font-family: "Big Shoulders Display";
    font-weight: bold;
    font-size: 40px;
    color: #fc0404;
}
td {
    font-family: "Jost";
    font-size: 20px;
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
}
#close-error-btn {
    background-color: #fffaeb;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    width: 81px;
    height: 45px;
    box-shadow: 1px 1px 5px;
    text-wrap: nowrap;
    font-family: 'Arial';
    color: #000000;
    font-size: 16px;
    text-shadow: 0.025px 0.025px 0.005px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}