/* Big Shoulders Display */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #fc0404;
    margin-top: 0px;
    margin-inline: 0%;
    margin-bottom: 0%;
    max-width: 100%;
    overflow-x: hidden;
}
#navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    height: 89px;
    width: 100%;
    vertical-align: middle;
    z-index: 1;
}
#dropdown {
    display: block;
    position: absolute;
    right: 20px;
    top: 35px;
}
.flex-parent {
    display: flex;
}
#esmc-logo {
    margin-left: 20px;
}
#profile {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
}
#profile-icon {
    position: absolute;
    top: 20px;
    right: 50px;
}
#links {
    display: none;
    position: absolute;
    top: 89px;
    z-index: 2;
    width: 100%;
}
.nav-links {
    font-family: "Poppins";
    color: #000000;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding-left: 20px;
    text-decoration: none;
    display: block;
}
#drop-view {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #acacac;
}
#drop-create {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cdcdcd;
}
#drop-logout {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
#popup {
    background-color: #fffaeb;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20vh;
}
#filter-table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#order-popup {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: #fffaeb;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
}
h1 {
    font-family: "Big Shoulders Display";
    font-weight: bolder;
    font-size: 40px;
    color: #fc0404;
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.filterPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
}
.detailsPopup {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 375px;
}
.popup-table {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: "Jost";
    font-size: 16px;
    width: 80%;
    text-align: left;
    text-wrap: nowrap;
}
.view-table {
    font-family: "Jost";
    font-size: 16px;
    width: 80%;
    text-align: left;
    text-wrap: nowrap;
    margin-left: 5vw;
    border-collapse: collapse;
}
.popup-tr {
    border: 3px solid #fc0404;
}
.popup-th {
    padding: 1vh;
}
.popup-td {
    padding: 1vh;
}
.radio-btn {
    margin-left: 5.5vw;
    width: 50px;
}
.view-tr {
    border-top: 2px solid black;
}
#updated-by {
    position: absolute;
    left: 2vw;
    bottom: 3vh;
    text-align: left;
}
#updateByName, #updateByDate {
    margin-top: 0;
}
i {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: "Jost";
}
p {
    font-size: 16px;
    font-family: "Jost";
    margin-top: 1vh;
    margin-bottom: 0px;
}
.popup-btns {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
    justify-content: right;
}
.close-btn {
    margin-right: 15px;
    background-color: #fc0404;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    width: 81px;
    height: 50px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
    font-family: Poppins;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0.025px 0.025px 0.005px;
}
.edit-btn, #update-btn {
    display: grid;
    background-color: #fffaeb;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    width: fit-content;
    height: 48px;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
    font-family: "Poppins";
    color: #000000;
    font-size: 16px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #000000;
    place-content: center;
}
#edit-btn:visited {
    text-decoration: none;
    color: #000000;
}
#edit-select, input {
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #fffaeb;
    width: 15vw;
    font-family: "Jost";
    font-size: 16px;
}
#save-btn {
    background-color: #fffaeb;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    width: 81px;
    height: 50px;
    box-shadow: 1px 1px 5px;
    text-wrap: nowrap;
    font-family: "Poppins";
    color: #000000;
    font-size: 16px;
    text-shadow: 0.025px 0.025px 0.005px;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #58020e;
    text-align: center;
    width: 100%;
    padding: 5px;
}
#copyright {
    color: #ffffff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}
.add-order-btn {
    margin-right: 15px;
    background-color: #fc0404;
    border-radius: 50px;
    border: 1px solid #fffaeb;
    height: 40px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
    font-family: "Jost";
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0.025px 0.025px 0.005px;
}
#net {
    font-weight: bolder;
}
.action-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
a, a:visited {
    color: #000000;
}
#save-btn {
    background-color: #fffaeb;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    width: 81px;
    height: 50px;
    box-shadow: 1px 1px 5px;
    text-wrap: nowrap;
    font-family: "Poppins";
    color: #000000;
    font-size: 16px;
    text-shadow: 0.025px 0.025px 0.005px;
}
.confirmDelPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
}
#confirm-msg {
    margin-top: 10vh;
}
h2 {
    font-family: "Jost";
    margin: 0;
}